body{
    font-family: 'Poppins', sans-serif;
font-family: 'Signika Negative', sans-serif;
    background-image: url(images/donation3.jpg);
    margin:0;
    height:500px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
 .help-people{
    color:white;
    text-align:center;
    padding-top:150px;
 } 
 .help-people h1{
    font-size:70px;
 }  
 .help-people p{
    font-size:20px;
    margin-bottom:40px;
 }
    .anchor{
    color:white;
    text-align:center;
    text-decoration:none;
    padding:14px 40px;
    background-color:#e84a30;
    font-size:20px;
    border-radius: 5px;
    
    
    
   } 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
