body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    background-image: url(images/donation3.jpg);
    margin:0;
    height:500px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.help-people{
    color:white;
    text-align:center;
    padding-top:150px;
} 
.help-people h1{
    font-size:70px;
}  
.help-people p{
    font-size:18px;
    margin-bottom:40px;
    color:#F7F7F7;
}
.anchor{
    color:white;
    text-align:center;
    text-decoration:none;
    padding:14px 40px;
    background-color:#e84a30;
    font-size:20px;
    border-radius: 5px;
} 
section{
    margin-top:300px;
    text-align: center;
}  
.donate-today{
    font-size: 50px;
}  
.taka div {
    border:1px solid #F7F7F7;
    background-color:#F7F7F7 ;
    height:120px;
    width:120px;
    margin:10px;
    display: inline-block;
}
.money{
      margin-top:50px;
      font-size:30px;
} 
.village{
      color:#746e6e;
      font-size:18px;
}
#taka2{
      border-radius:5px;
      border:2px solid #e84a30;
      background-color:rgb(247, 215, 215);
      
}
#taka2 p{
      color:red;
}
.amount{
      color:#aca7a7;
      font-size: 18px;
}

.row {
     border: 0;
     border-bottom: 1px solid #aca7a7;
     outline: 0;
     margin:0px 310px 46px 310px;
  
}

.plan{
      text-align: center;
      margin-top:150px;
      
  
}
.plan h1{
      font-size:50px;
}
.plan p{
      font-size:18px;
      color:#746e6e;
}
.our-donate div{
      height:320px;
      width:320px;
      margin:20px 10px;
      display: inline-block;
      border-radius:5px;
      
}
.donate1{
    background-color: #eff2f5;
    text-align: left;

}
.donate1 img{
      margin-top:30px;
      margin-left:20px;
}
.donate1 h2{
      margin-top:30px;
      margin-left:20px;
}
.donate1 p{
      margin-top:30px;
      margin-left:20px;
      font-size: 18px;
      color:#746e6e;
}
.our-donate{
      text-align: center;
      margin-bottom: 100px;
      
}
.donate2{
      background-color:rgb(250, 237, 239);
      text-align: left;
  
}
.donate2 img{
        margin-top:30px;
        margin-left:20px;
}
.donate2 h2{
        margin-top:30px;
        margin-left:20px;
}
.donate2 p{
        margin-top:30px;
        margin-left:20px;
        font-size: 18px;
          color:#746e6e;
 }
    
.donate3{
        background-color: rgb(243, 241, 210);
        text-align: left;
    
}
.donate3 img{
          margin-top:30px;
          margin-left:20px;
}
.donate3 h2{
          margin-top:30px;
          margin-left:20px;
}
.donate3 p{
            margin-top:30px;
            margin-left:20px;
            font-size: 18px;
            color:#746e6e;
}
.donation10 img{
      height:300px;
      width:300px;
      margin:5px;
}
.small div{
      width:100%;
      display:inline-block;
      margin-left:45px;
}
.help-them{
    text-align: center;
}
.help-them p{
    color:#746e6e;
    font-size: 18px;
}
.help-them h1{
    font-size:40px;
}
.bkash{
    text-align: center;
    margin: 50px 0;
} 
.your-donation{
      text-align: center;
}
.your-donation a{
      color:white;
    text-align:center;
    text-decoration:none;
    padding:14px 40px;
    background-color:#e84a30;
    font-size:20px;
    border-radius: 5px;
}
.get{
      text-align: center;
      margin:150px 0 40px 0;
}
.get h1{
      font-size: 50px;
}
.get p{
      font-size: 18px;
      color:#746e6e;
}
.form{
      text-align: center;
      width:760px;
      height:185px;
      background-color: #fdf0ca;
      display:inline-block;
      margin-left: 300px;;
      margin-bottom: 150px;
      
}
.box1{
      padding:11px 11px 11px 11px;
      border-radius:6px;
      background-color: #ececec;
      box-shadow:5px 5px 5px #c7c4c4;
      margin:70px 160px 70px 150px;
}
.box1 input{
      border:none;
      font-size:16px;
      margin-right: 90px;
      color:#746e6e;
      background-color: #ececec;
    
}
.box1 a {
      font-size: 17px;
      padding:10px 30px ;
      text-decoration: none;
      border:1px solid red;
      color:white;
      background-color: red;
      border-radius:3px;
      margin-left:px;
}
.footer{
        background-color: black;
        width:100%;
        height:160px;
        display:inline-block;
}
.footer h1{
        color:tomato;
        text-align: center;
        font-family: 'Kaushan Script', cursive;
}
.footer p{
        text-align: center;
        color:#a09d9d;
}
.be-humble{
        margin-top: 43px;
}
